body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 18px;
  font-family: 'Neuton', serif;
}

header {
  padding: 20px;
}


main {
  margin: 0 20px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li { padding-bottom: 10px; }

a {
  text-decoration: none;
  color: #1A3877;
}
.topline {
  font-family: 'Open Sans', sans-serif;
  width: 230px;
  margin: 0 auto;
}

.topline h1 {
  font-size: 30px;
}
.topline a { color: inherit; }

h2 {
  font-size: 26px;
}
p {
  line-height: 1.5;
}

main { padding-top: 20px; }

.topline p {
  width: 140px;
  margin: 0 auto;
}

ul.articles {
  padding-top: 20px;
  width: 300px;
  margin: 0 auto;
}

#backlink {
  text-decoration: underline;
}

article { padding-top: 10px; }

main.poetry {
  width: 350px;
  margin: 0 auto;
}

.poetry p { font-style: italic; }

@media screen and (min-width: 768px) {
  header, main {
    width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  header, main {
    width: 500px;
    margin: 0 auto;
  }
}
